# Node & build artifacts
node_modules/
.dist/
dist/
.build/
.next/
coverage/
# Logs
npm-debug.log*
yarn-error.log*
*.log
# Env
.env
.env.*
# OS
.DS_Store
# Downloads & temp
downloads/
tmp/
# TypeScript
*.tsbuildinfo
# Docker
*.pid
# Others
